django>=4.0
psycopg>=2.9.7
gunicorn>=20.1.0
django-configurations
whitenoise==6.5.0
djangorestframework
markdown
django-filter
drf-yasg
django-cities
Pillow==9.5.0
djangorestframework-gis
djangorestframework-simplejwt
drf_social_oauth2
django-cors-headers
django-versatileimagefield
django-filter
# DVE is not yet released to support DRF, but the sha is working!
Django-Verify-Email @ git+https://github.com/foo290/Django-Verify-Email@725e77a